body {
  position: relative;
  height: 100vh;
  background-color: #fdfdfd;
  font-family: 'Open Sans';
  font-weight: 300;
  display: flex;
  align-items: center;
  background-size: cover;
}

.main {
  min-width: 700px;
  justify-items: center;
  background: #fefefe;
  border-radius: 10px;
  margin: auto;
  padding: 15px 30px 15px 30px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-family: 'Rampart One';
  text-align: center;
  font-size: 48px;
}

.yellow {
  color: rgba(237, 169, 12);
}

.red {
  color: rgba(194, 37, 45);
}

.green {
  color: rgba(20, 153, 100);
}

.blue {
  color: rgba(8, 62, 177);
}

.pink {
  color: rgba(193, 72, 176);
}

#canvas {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.canvas-sizing-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.canvas-width,
.canvas-height {
  width: 120px;
  height: 15px;
  margin-left: 10px;
  margin-right: 25px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 2px;
}

.canvas-ratio {
  transform: scale(1.5);
  margin: 0 20px 0 10px;
}

.canvas-scale-value {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
}

.textarea-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.canvas-textarea {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  border-width: 0 0 2px 0;
  overflow: hidden;
  outline: none;
  resize: none;
}

.fi {
  font-size: 25px;
}

.font-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 160px;
  height: 40px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 2px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 16px;
  top: 50%;
  left: 50%;
  z-index: 1;
  content: '\f078';
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.bg-color-picker-container,
.font-color-picker-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.colorpicker {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  line-height: 50px;
}

.bg-random-color,
.font-random-color {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  transition-duration: 0.4s;
  line-height: 50px;
}

.bg-random-color:hover {
  background-color: #00a678;
  color: white;
}

.font-random-color:hover {
  background-color: #f44336;
  color: white;
}

.bookmark-container,
.load-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.bookmark-bg-save,
.bookmark-font-save,
.bookmark-template-save {
  width: 50px;
  height: 50px;
  gap: 10px;
  background-color: white;
  border: 1px solid #e7e7e7;
  line-height: 50px;
  border-radius: 3px;
  line-height: 50px;
  transition-duration: 0.4s;
}

.bookmark-bg-save:hover {
  background-color: #c1ea51;
  color: white;
}

.bookmark-font-save:hover {
  background-color: #e2e23b;
  color: white;
}

.bookmark-template-save:hover {
  background-color: #f2a360;
  color: white;
}

.upload,
.download,
.random-image {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  line-height: 50px;
  transition-duration: 0.4s;
}

.download:hover {
  background-color: #f2b706;
  color: white;
}

.upload:hover {
  background-color: #0455bf;
  color: white;
}

.random-image:hover {
  background-color: #aa76e6;
  color: white;
}

.bookmark-color-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -300px;
  transition: left 0.4s ease;
  border-radius: 0 10px 10px 0;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #faf9fa;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.bookmark-color-container:hover {
  left: -10px;
}

.bookmark-bg-store,
.bookmark-font-store {
  display: flex;
  flex-direction: column;
}

.bookmark-bg-store-label,
.bookmark-font-store-label {
  font-size: 20px;
}

.bookmark-bg-store-label {
  margin-bottom: 10px;
}

.bookmark-bg-item-container,
.bookmark-font-item-container {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.bookmark-bg-circle,
.bookmark-font-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bookmark-template-store {
  background-color: #faf9fa;
  min-width: 300px;
  position: absolute;
  left: -330px;
  top: 240px;
  transition: all 0.4s ease;
  padding: 20px;
  padding-right: 50px;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.bookmark-template-store:hover {
  left: -10px;
  padding-right: 20px;
}

.bookmark-template-store:hover > .bookmark-template-store-label {
  writing-mode: horizontal-tb;
  transform: translate(10px, 0);
  width: 100px;
}

.bookmark-template-store-label {
  transform: translate(310px, 0);
  transition: all 0.4s ease;
  font-size: 20px;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.bookmark-template-store-list {
  --gridHeight: 2;

  min-height: 200px;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(var(--gridHeight), 1fr);
  gap: 5px 10px;

  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.bookmark-template-store-list > div {
  position: relative;
}

.bookmark-template-thumbnail {
  max-width: 100%;
  aspect-ratio: 4 / 3;
  max-height: 100px;
  justify-self: stretch;
  align-self: stretch;
}

.bookmark-item-delete {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 1px 0 gray;
  text-align: center;
  line-height: 125%;

  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 100;
}

.toast {
  --toast-width: 350px;
  --toast-height: 100px;

  position: absolute;
  right: 0;
  width: var(--toast-width);
  height: var(--toast-height);
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  animation: move 0.8s both;
}

.toast-heading {
  margin: 10px 0 15px;
}

.toast-message {
  display: flex;
  align-items: center;
  height: 20px;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.toast-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
