body {
  position: relative;
  height: 100vh;
  background-color: #fdfdfd;
  font-family: 'Open Sans';
  font-weight: 300;
  display: flex;
  align-items: center;
}

.container {
  width: fit-content;
  background: white;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 160px;
  height: 40px;
  margin: 0 55px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 2px;
}

select:after {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 16px;
  top: 50%;
  left: 50%;
  z-index: 1;
  content: '\f078';
}

.hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  text-align: center;
  font-size: 48px;
}

#canvas {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.spinner {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate3D(-50%, 0, 0);
  width: 50px;
}

.setting-input-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.width-setting,
.height-setting {
  width: 150px;
  height: 30px;
  margin-left: 15px;
  margin-right: 30px;
}

.textarea-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.text-input {
  width: 400px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  border-width: 0 0 2px 0;
  overflow: hidden;
  outline: none;
  resize: none;
}

.font-select-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.scale-value {
  display: inline-block;
  width: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 25px auto;
  gap: 10px;
  width: 700px;
}

.colorpicker {
  width: 100px;
  height: 35px;
}

.canvas-color-picker-container,
.font-color-picker-list {
  display: flex;
  gap: 10px;
}

.random-color-canvas,
.random-color-font {
  height: 35px;
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
}

.favorite-setting-container {
  text-align: center;
  width: 700px;
  margin: auto;
}

.favorite-setting-container button {
  margin: 0 10px;
  height: 35px;
  display: inline-block;
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  font-size: 16px;
}

.upload,
.download,
.random-image {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 100px;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

/*즐겨찾기 버튼 메뉴바 스타일링*/
.favorite-color-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -300px;
  transition: left 0.4s ease;
  border-radius: 0 10px 10px 0;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #faf9fa;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.favorite-color-container:hover {
  left: -10px;
}

.fav-bg-container,
.fav-font-container {
  display: flex;
  flex-direction: column;
}

.fav-bg-label {
  margin-bottom: 10px;
}

.fav-bg-item-container,
.fav-font-item-container {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.fav-bg-item,
.fav-font-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* 토스터  스타일링*/
.toast {
  --toast-width: 350px;
  --toast-height: 100px;

  position: absolute;
  right: 0;
  width: var(--toast-width);
  height: var(--toast-height);
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  animation: move 0.8s both;
}

.toast-heading {
  margin: 10px 0 15px;
}

.toast-message {
  display: flex;
  align-items: center;
  height: 20px;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.toast-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.favorite-menu {
  width: 200px;
}

.favorite-template {
  background-color: #faf9fa;
  min-width: 300px;
  position: absolute;
  left: -330px;
  top: 230px;
  transition: all 0.4s ease;
  padding: 20px;
  padding-right: 50px;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.favorite-template:hover {
  left: -10px;
  padding-right: 20px;
}

.favorite-template:hover > .favorite-template-title {
  writing-mode: horizontal-tb;
  transform: translate(10px, 0);
  width: 100px;
}

.favorite-template-title {
  transform: translate(310px, 0);
  transition: all 0.4s ease;
  font-size: 20px;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.favorite-template-container {
  --gridHeight: 2;

  min-height: 200px;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(var(--gridHeight), 1fr);
  gap: 5px 10px;

  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.favorite-template-container > div {
  position: relative;
}

.template-img {
  max-width: 100%;
  aspect-ratio: 4 / 3;
  max-height: 100px;
  justify-self: stretch;
  align-self: stretch;
}

.template-remove,
.fav-item-delete {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 1px 0 gray;
  text-align: center;
  line-height: 125%;

  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 100;
}

.favorite-template-item {
  width: 100%;
  align-self: center;
  border: 0;
}
